body{
    background-color: #E4F9F5;
    color: #30E3CA;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

h3 {
    text-align: center;
    color: #11999E;
    margin: 0.5em 0;
}

form {
    margin-bottom: 1em;
}

.list-group-item{
    border-left: 4px solid #40514e;
    color: #109599;
    margin-bottom: 0.5em;
    border-radius: 1%;
    transition: all 0.3s ease;
}

.list-group-item:hover {
    background-color: #30E3CA;
    color: white;
    transform: scale(1.02);
}

.container-fluid {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    border-radius: 8px;
    max-width: 80%;
}

input.form-control {
    border: 2px solid #30E3CA;
    border-radius: 0.5rem;
    padding: 0.75em;
}

input.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.footer {
    background-color: #11999E; 
    color: #fff;
    text-align: center;          
    padding-top: 1rem;   
    padding-bottom: 1rem;
    margin-top: 2rem; 
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.footer a {
    text-decoration: none;
}